//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	background-color: $goldColor;
	display: inline-flex;
	font-weight: 500;
	line-height: 150%;
	/* 24/16 */
	color: $bgMainColor;
	padding: toRem(18) toRem(36);
	border-radius: 12px;
	transition: all .3s;
	border: toRem(2) solid transparent;

	&--fw {
		width: 100%;
	}

	&--small {
		@include adaptiveValue("padding-top", 15, 10, 0, $containerWidth, 767.98);
		@include adaptiveValue("padding-bottom", 15, 10, 0, $containerWidth, 767.98);
		@include adaptiveValue("padding-left", 32, 14, 0, $containerWidth, 767.98);
		@include adaptiveValue("padding-right", 32, 14, 0, $containerWidth, 767.98);
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: transparent;
			border: toRem(2) solid $goldColor;
			color: $goldColor;
			transition: all .5s;
		}
	}

	&:active {
		border: toRem(2) solid $mainColor;
		color: $mainColor;
		transform: scale(.95);
		transition: all .3s;
	}
}