.appointment {

  // .appointment__container

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: toRem(120);
  }

  // .appointment__block-header

  &__block-header {
    max-width: toRem(754);
    width: 100%;
    margin-bottom: toRem(80);
  }
}



.form-appointment {
  width: 100%;
  padding-top: toRem(77);
  //--------------------------Datepicker--------------------------
  // .form-appointment__date

  &__date {}
}

.datepicker {
  max-width: toRem(650);
  margin: 0 auto;
  border: toRem(1) solid $goldColor;
  border-radius: toRem(13);
  background: $bgDarkLight;
  font-family: "SFProText";
  @include adaptiveValue("padding-top", 27, 10);
  @include adaptiveValue("padding-bottom", 27, 10);
  @include adaptiveValue("padding-left", 18, 8);
  @include adaptiveValue("padding-right", 18, 8);
  padding: toRem(27) toRem(18);

  // .datepicker__input

  &__input {
    display: none;
  }

  // .datepicker__body

  &__body {}
}

.datepicker-header {
  display: flex;
  justify-content: flex-start;
  padding-bottom: toRem(15);
}

.year-input,
.dropdown-button {
  font-family: "SFProText";
  font-size: toRem(17);
  line-height: 129.411765%;
  /* 22/17 */
  font-weight: 600;
  color: #ffffff;
  text-transform: capitalize;
  outline: none;
  border: none;
  background-color: transparent;

  @media (max-width:$mobile) {
    @include adaptiveValue("font-size", 17, 13);
  }
}

//month-input with custom dropdown
.dropdown-month {
  position: relative;
  max-width: toRem(150);
  width: 100%;

  @media (max-width:$mobile) {
    @include adaptiveValue("max-width", 150, 100);
  }
}

.month-input {
  display: none;
}

.dropdown-button {
  position: relative;
  width: 100%;
  padding: toRem(5) toRem(21) toRem(5) toRem(5);
  appearance: none;
  border: toRem(1) solid transparent;
  border-radius: 5px;
  background-color: rgba(235, 235, 245, 0.3);
  transition: all .4s ease;

  @media (max-width:$mobile) {
    @include adaptiveValue("padding-right", 21, 13);
  }


  @media (any-hover: hover) {
    &:hover {
      color: $goldColor;
      border: toRem(1) solid $goldColor;
    }
  }

  &:active,
  &.onFocus {
    color: $mainColor;
    border: toRem(1) solid $goldColor;
    transform: translateY(1px);

    &::after {
      color: $mainColor;
    }
  }

  &::after {
    content: "\e902";
    @extend %ic;
    position: absolute;
    top: 18%;
    right: 0;
    padding: toRem(5) toRem(4) toRem(4);
    color: $goldColor;
    font-size: toRem(12);
    pointer-events: none;
    transition: all .4s ease;

    @media (max-width:$mobile) {
      @include adaptiveValue("font-size", 12, 9);
    }

  }

  &._arrowUp::after {
    transform: rotateZ(180deg);
  }
}

.dropdown-list {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 110%;
  left: 0;
  z-index: 3;
  width: 100%;
  padding: toRem(5) toRem(5);
  background-color: $bgDarkLight;
  border-radius: 5px;
  border: toRem(1) solid $goldColor;
  transition: all .4s ease;

  &__visible {
    visibility: visible;
    opacity: 1;
  }

  // .dropdown-list__item

  &__item {
    font-size: toRem(14);
    padding: toRem(5);
    color: $cardTitle;
    border-radius: toRem(5);
    cursor: pointer;
    transition: all .3s;

    &:not(:last-child) {
      margin-bottom: toRem(2);
    }

    @media (max-width:$mobile) {
      @include adaptiveValue("font-size", 14, 11);

      &:not(:last-child) {
        margin-bottom: toRem(4);
      }
    }

    @media (any-hover: hover) {
      &:hover {
        color: $goldColor;
        background-color: rgba(235, 235, 245, 0.3);
        transform: scale(1.04);
      }
    }

    &:active {
      transform: scale(1);
      opacity: .6;
    }
  }
}

//year-input with custom counter 

.year-counter {
  max-width: toRem(120);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: toRem(80);

  @media (max-width:$mobile) {
    @include adaptiveValue("margin-left", 80, 14);
    @include adaptiveValue("max-width", 120, 80);
  }

  span {
    display: block;
    cursor: pointer;
  }

  // .year-counter__minus

  &__minus,
  &__plus {

    position: relative;
    max-width: toRem(10);
    width: 100%;
    height: 100%;

    @media (any-hover: hover) {
      &:hover {
        &.year-input {
          border: toRem(1) solid $goldColor;
        }
      }
    }

    &:active {
      transform: scale(.95);
      opacity: .9;
    }
  }

  &__minus::before,
  &__plus::before {
    position: absolute;
    //width: 100%;
    top: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: toRem(10);
    max-width: toRem(17);
    font-size: toRem(17);
    color: #CEA561;
    z-index: 5;

    @media (max-width:$mobile) {
      @include adaptiveValue("font-size", 17, 13);
    }

  }

  &__minus {

    &::before {
      left: toRem(-4);
      transform: rotateZ(90deg);
    }
  }

  // .year-counter__plus

  &__plus {

    &::before {
      right: toRem(-4);
      transform: rotateZ(-90deg);
    }
  }
}


.year-input {
  height: 100%;
  text-align: center;
  pointer-events: none;
  border-radius: toRem(5);
  border: toRem(1) solid transparent;
  padding: toRem(3);
  margin: toRem(0) toRem(10);
  transition: all .4s ease;

}

.year-input_outline {
  pointer-events: auto;
  outline: toRem(1) solid $goldColor;
}

.date-toggle {
  max-width: toRem(50);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.prev,
.next {
  position: relative;
  width: toRem(10);
  height: toRem(17);
  transition: all .2s ease;

  @media (any-hover: hover) {
    &:hover {
      transform: scale(1.2);
    }
  }

  &:active {
    transform: scale(0.95);
    opacity: .8;
  }
}

.prev {
  &::before {
    left: toRem(-4);
    transform: rotateZ(90deg);
  }
}

.next {
  &::before {
    right: toRem(-4);
    transform: rotateZ(-90deg);
  }
}

.prev::before,
.next::before {
  position: absolute;
  top: toRem(4);
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: toRem(10);
  font-size: toRem(17);
  color: $goldColor;
  z-index: 5;

  @media (max-width:$mobile) {
    @include adaptiveValue("font-size", 17, 13);
  }

  @media (any-hover: hover) {
    &:hover {
      transform: scale(1.1);
    }
  }
}


.days,
.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: toRem(55);

  @media (max-width:$mobile) {
    @include adaptiveValue("column-gap", 55, 10);
  }
}

.days {
  font-size: toRem(13);
  line-height: 138.461538%;
  /* 18/13 */
  color: rgb(235, 235, 245, .3);
  text-transform: uppercase;
  padding-bottom: toRem(15);
  text-align: center;

  @media (max-width:$mobile) {
    @include adaptiveValue("padding-bottom", 15, 7);
  }
}

.dates {
  position: relative;
  row-gap: toRem(6);

  button {
    max-width: toRem(40);
    width: 100%;
    font-family: "SFProDisplay";
    //@include adaptiveValue("font-size", 20, 16);
    font-size: toRem(20);
    line-height: 150%;
    /* 30/20 */
    color: #ffffff;
    border-radius: 50%;
    padding: toRem(5);
    box-sizing: border-box;
    justify-self: center;

    @media (max-width:$mobile) {
      @include adaptiveValue("font-size", 20, 14);
    }

    &.selected {
      background: $goldColor;
      color: #151515;
    }

    &.today {
      background: rgb(235, 235, 245, .3);

    }

    &:disabled {
      //visibility: hidden;
      color: rgb(235, 235, 245, .3);
      pointer-events: none;
      user-select: none;
    }

    &.hidden {
      visibility: hidden;
    }
  }
}