.basket {
  position: absolute;
  top: 120%;
  right: 0;
  border: toRem(1) solid $goldColor;
  border-radius: toRem(5);
  background-color: $bgDark;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
  z-index: 1000;
  cursor: default;

}

// .basket-body

.basket-body {
  backdrop-filter: blur(40px);
  width: max-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  //row-gap: toRem(10);
  padding: toRem(10);
}

.basket-header {
  //width: 100%;

  // .basket-header__title

  &__title {
    font-family: "Cormorant Garamond";
    font-size: toRem(30);
    font-weight: 600;
    margin-bottom: toRem(15);
    line-height: 100%;
    padding: toRem(5);
    color: $cardTitle;
  }
}

.basket-main {
  margin-bottom: toRem(26);
  border-bottom: toRem(1) solid $goldColor;
  border-top: toRem(1) solid $goldColor;

  // .basket-main__list

  &__list {}
}

// .basket-list

.basket-list {

  // .basket-list__item

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr auto auto;
    padding: toRem(8) toRem(5);

    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }
}

.basket-item {
  line-height: 150%;
  font-weight: 600;
  // .basket-item__title

  &__title {
    font-size: toRem(18);
    color: $goldColor;
  }

  // .basket-item__handler

  &__handler {
    display: flex;
    justify-content: center;
    margin: toRem(0) toRem(5);
    color: darken($cardTitle, 7%);

    button {
      max-width: toRem(30);
      width: 100%;
      cursor: pointer;

      &:hover {
        scale: 1.1;
        //color: red;
      }
    }
  }

  // .basket-item__sum

  &__sum {
    color: lighten($goldColor, 15%);
    text-align: end;
    margin-right: toRem(16);
  }

  &__delete {
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    line-height: 100%;
    height: toRem(20);
    width: toRem(20);
    border-radius: 50%;

    &::before,
    &::after {
      position: absolute;
      content: "";
      height: toRem(2);
      width: 100%;
      top: 45%;
      left: 0;
      background-color: $mainColor;
      z-index: 40000;
      transition: background-color .2s, scale .2s;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover {

      &::before,
      &::after {
        scale: 1.2;
        background-color: rgba(185, 48, 48, 0.664);
        transition: background-color .2s, scale .2s;
      }
    }

    &:active {
      background-color: rgba(185, 48, 48, 0.664);
      scale: 1.3;
      transition: background-color .2s, scale .2s;

      &::before,
      &::after {
        scale: .7;
        background-color: $mainColor;
        transition: background-color .2s, scale .2s;
      }
    }


  }
}

.item-handler {

  // .item-handler__decrement

  &__decrement {}

  // .item-handler__counter

  &__counter {
    font-size: toRem(17);
    font-weight: 600;
    line-height: 125%;
    text-align: center;
    margin: toRem(0) toRem(18);
  }

  // .item-handler__increment

  &__increment {
    transform: rotate(180deg);
  }
}

.item-handler__increment._icon-drop-arrow::before,
.item-handler__decrement._icon-drop-arrow::before {
  vertical-align: middle;
}


.basket-footer {
  //width: 100%;
  // .basket-footer__action

  &__action {
    display: flex;
    justify-content: space-between;
  }
}



.basket-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: toRem(22);
  font-family: "Cormotant Garamond";
  font-size: toRem(18);
  font-weight: 600;
  line-height: 125%;

  &__quantity,
  &__price {
    padding: toRem(5);
    color: darken($cardTitle, 7%);
    letter-spacing: toRem(1);

    span {
      margin-left: toRem(8);
      color: lighten($goldColor, 10%);
    }
  }

  // .basket-total__quantity

  &__quantity {}

  // .basket-total__price

  &__price {}
}

// .basket-total__order

.basket-order {

  margin-right: toRem(10);
}

// .basket-button

.basket-button {
  @include adaptiveValue("font-size", 16, 11);
  @include adaptiveValue("padding-top", 10, 8);
  @include adaptiveValue("padding-bottom", 10, 8);
  @include adaptiveValue("padding-left", 22, 12);
  @include adaptiveValue("padding-right", 22, 12);
}