.basket {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  right: 10%;
  border: toRem(1) solid $goldColor;
  border-radius: toRem(5);
  background-color: $bgDark;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
  z-index: 1000;
  cursor: default;
  transition: all 0.3s ease-in-out;

  &._show-cart {
    visibility: visible;
    opacity: 1;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  @media (min-width:$mobile) {
    max-width: toRem(550);
    width: 100%;
  }

  @media (max-width:$mobile) {
    position: fixed;
    top: -50%;
    left: 0;
    width: 100%;
    height: 100%;

    &._show-cart {
      top: 0;
    }
  }
}

// .basket-body

.basket-body {
  width: 100%;
  backdrop-filter: sepia(1);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  padding: toRem(10);

  @media (max-width:$mobile) {
    width: 100%;
    height: 100%;
  }

}

.basket-header {

  display: flex;
  justify-content: space-between;

  // .basket-header__title

  &__title {
    font-family: "Cormorant Garamond";
    font-size: toRem(30);
    font-weight: 600;
    margin-bottom: toRem(15);
    line-height: 100%;
    padding: toRem(5);
    color: $cardTitle;

    @media (max-width:$mobile) {
      font-size: toRem(46);
    }
  }

  span {
    position: relative;
    width: toRem(26);
    height: toRem(26);
    transform-origin: center;
    transition: 0.2s linear;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: toRem(26);
      height: toRem(3);
      top: 52%;
      left: 0;
      transform-origin: center;
      background-color: #fff;
      transition: 0.2s linear;
    }

    &::before {
      transform: translateY(-50%) rotate(45deg);
    }

    &::after {
      transform: translateY(-50%) rotate(-45deg);
    }


    @media (any-hover: hover) {
      &:hover {
        transform: rotate(-90deg);

        &::before,
        &::after {
          background-color: $goldColor;
        }
      }
    }

    &:active {

      &::before,
      &::after {
        opacity: 0.6;
      }

      &::before {
        transform: translateY(-50%) rotate(45deg) scale(0.8);
      }

      &::after {
        transform: translateY(-50%) rotate(-45deg) scale(0.8);
      }
    }

    @media (max-width:$mobile) {
      width: toRem(32);
      height: toRem(32);
      border-radius: 50%;

      &::before,
      &::after {
        width: toRem(32);
        height: toRem(4);
      }

      &:active {
        scale: 1.2;
        background-color: lighten($bgDarkLight, 15%);

        &::before,
        &::after {
          background-color: lighten($goldColor, 20%);
        }

        &::before {
          transform: translateY(-70%) rotate(45deg) scale(0.7);
        }

        &::after {
          transform: translateY(-70%) rotate(-45deg) scale(0.7);
        }
      }
    }
  }
}

.basket-main {
  border-bottom: toRem(1) solid $goldColor;
  border-top: toRem(1) solid $goldColor;

  // .basket-main__list

  &__list {
    height: 100%;
    padding: toRem(10) 0;

    @media (max-width:$mobile) {

      flex: 1 1 auto;

    }
  }
}

// .basket-list
.basket-list {
  max-height: toRem(250);
  min-height: 100%;

  // .basket-list__item

  &__item {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr auto;
    column-gap: toRem(18);
    padding: toRem(8) toRem(5);

    &:not(:last-child) {
      margin-bottom: toRem(10);
    }

    @media (max-width:$mobile) {
      gap: toRem(15);
      grid-template-columns: 1fr auto auto;
      grid-template-rows: repeat(2, auto);
      background: rgba(105, 98, 98, 0.26);
      border-radius: toRem(0) toRem(15) toRem(0) toRem(15);


      &:not(:last-child) {
        margin-bottom: toRem(14);
      }
    }

    @media (max-width:$mobileSmall) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, auto);
    }
  }
}

.basket-item {
  line-height: 150%;
  font-weight: 600;

  // .basket-item__title

  &__title {

    font-size: toRem(18);
    @include adaptiveValue("font-size", 24, 20, 1, 767.98, 479.98);
    color: $goldColor;

    @media (max-width:$mobile) {
      order: 1;
    }

    @media (max-width:$mobileSmall) {
      grid-column: 1 / 3;
      font-size: toRem(20);
    }
  }

  // .basket-item__handler

  &__handler {
    width: 100%;

    @media (max-width:$mobile) {
      order: 2;
      padding-right: toRem(10);
    }
  }

  // .basket-item__sum

  &__sum {
    color: lighten($goldColor, 15%);
    text-align: end;
    margin-right: toRem(6);
    @include adaptiveValue("font-size", 24, 20, 1, 767.98, 479.98);

    @media (max-width:$mobile) {
      order: 4;
      padding-top: toRem(10);
      padding-right: toRem(20);
      margin: 0;
      width: fit-content;
      text-align: start;
      border-top: 1px solid #c9a15f;
    }

    @media (max-width:$mobileSmall) {
      grid-column: 1 / 3;
      font-size: toRem(20);
    }
  }

  &__delete {
    position: relative;
    height: toRem(18);
    width: toRem(18);
    border-radius: 50%;
    margin-top: toRem(3);
    z-index: 30;

    span {

      &::before,
      &::after {
        position: absolute;
        content: "";
        height: toRem(2);
        width: 100%;
        top: 40%;
        left: 0;
        background-color: $mainColor;
        transition: background-color .2s, scale .2s;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }


    &:hover {
      span {

        &::before,
        &::after {
          background-color: rgba(185, 48, 48, 0.664);
          transition: background-color .2s, scale .2s;
        }
      }

    }

    &:active {
      background-color: rgba(185, 48, 48, 0.781);
      scale: 1.2;
      transition: background-color .2s, scale .2s;

      span {

        &::before,
        &::after {
          scale: .5;
          background-color: $mainColor;
          transition: background-color .2s, scale .2s;
          top: 45%;
        }
      }
    }

    @media (max-width:$mobile) {
      height: toRem(30);
      width: toRem(30);
      margin-top: 0;
      order: 3;
      justify-self: end;
      top: toRem(5);

      span {

        &::before,
        &::after {
          height: toRem(4);
          background-color: rgba(185, 48, 48, 0.781);
        }
      }

      &:active {
        span {

          &::before,
          &::after {
            top: 42%;
          }
        }
      }
    }

    @media (max-width:$mobileSmall) {
      //order: 4;
    }
  }
}

.item-handler {

  &__wrp {
    display: flex;
    justify-content: center;
    //align-items: flex-start;
    color: darken($cardTitle, 7%);
  }

  @media (max-width:$mobileSmall) {
    justify-content: space-evenly;
  }

  button {
    position: relative;
    width: toRem(50);
    //max-height: toRem(23);
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0.12;
      clip-path: circle(0 at center);
      transition: 0.1s linear;

    }

    &:hover {
      color: lighten($goldColor, 15%);
    }

    &:active {
      background-color: lighten($bgMainColor, 17%);


      &::after {
        clip-path: circle(100% at center);
        transition: 0.2s ease-out;
      }
    }

    @media (max-width:$mobileSmall) {
      width: toRem(80);
    }
  }

  // .item-handler__decrement

  &__decrement {}

  // .item-handler__counter

  &__counter {
    min-width: toRem(25);
    font-size: toRem(17);
    font-weight: 600;
    line-height: 125%;
    text-align: center;
    margin: toRem(0) toRem(8);

    @media (max-width:$mobile) {
      font-size: toRem(24);
      margin: toRem(0) toRem(14);
    }

    @media (max-width:$mobileSmall) {
      line-height: 150%;
      font-size: toRem(24);
    }
  }

  // .item-handler__increment

  &__increment {
    transform: rotate(180deg);
  }
}

.item-handler__increment._icon-drop-arrow::before,
.item-handler__decrement._icon-drop-arrow::before {
  vertical-align: middle;
  // padding-bottom: toRem(3);
  font-size: toRem(18);

  @media (max-width:$mobile) {
    font-size: toRem(24);
    padding-bottom: 0;
  }
}


.basket-footer {
  padding-top: toRem(26);
  // .basket-footer__action

  &__action {
    display: flex;
    justify-content: space-between;
  }
}

.basket-total {
  display: flex;
  justify-content: space-between;
  gap: toRem(30);
  margin-bottom: toRem(22);
  font-family: "Cormotant Garamond";
  font-size: toRem(18);
  line-height: 125%;

  &__quantity,
  &__price {
    padding: toRem(5);
    color: darken($cardTitle, 7%);
    letter-spacing: toRem(1);

    span {
      display: inline-block;
      margin-left: toRem(8);
      color: lighten($goldColor, 10%);
    }

    @media (max-width:$mobile) {
      @include adaptiveValue("font-size", 24, 22, 1, 767.98);
    }
  }

  @media (max-width:$mobileSmall) {
    flex-direction: column;
  }

  // .basket-total__quantity

  &__quantity {}

  // .basket-total__price

  &__price {}
}

// .basket-total__order

.basket-order {

  margin-right: toRem(10);
}

// .basket-button

.basket-button {
  // @include adaptiveValue("font-size", 16, 16, 0, $containerWidth, 767.98);
  @include adaptiveValue("padding-top", 10, 8);
  @include adaptiveValue("padding-bottom", 10, 8);
  @include adaptiveValue("padding-left", 22, 12);
  @include adaptiveValue("padding-right", 22, 12);
  font-weight: 400;

  @media (max-width:$mobile) {
    width: max-content;
    font-size: toRem(20);
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0.05;
      clip-path: circle(0 at center);
      transition: 0.1s linear;
    }

    &:active {
      background-color: lighten($bgDark, 2%);


      &::after {
        clip-path: circle(100% at center);
        transition: 0.2s ease-out;
      }
    }
  }
}