.card-body {
  display: grid;
  place-items: center;
  padding: toRem(15) toRem(0);
}

.packages-card__item,
.packages-card__body {
  max-width: toRem(600);
  width: 100%;
}

.packages-card__body {
  @include adaptiveValue("padding-top", 36, 12);
  @include adaptiveValue("padding-bottom", 36, 16);
}

.packages-card__item {
  @include adaptiveValue("padding-right", 30, 10);
  @include adaptiveValue("padding-left", 30, 10);
}

.packages-card__sublist {
  margin-bottom: toRem(20);
}

.packages-card__description {
  @include adaptiveValue("font-size", 16, 14);
  line-height: 150%;
  margin-bottom: toRem(30);

  p {
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }
}

.packages-card__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  button {
    @include adaptiveValue("font-size", 20, 18);
    line-height: 150%;
    font-weight: 600;

    &:has(a) {
      padding: 0;
    }

    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }


  @media (min-width:$mobileSmall) {
    flex-direction: row;

    button {
      width: auto;

      &:not(:last-child) {
        margin-right: toRem(20);
        margin-bottom: 0;
      }
    }
  }
}

.card__add,
.card__exit {
  display: block;
}