// Заголовки, загальні БЕМ блоки та інше...

//Шапка блока

.block-header {
  background-color: transparent;
  display: grid;
  gap: toRem(12);
  justify-content: center;
  align-content: center;
  text-align: center;

  @include adaptiveValue("padding-top", 60, 10);

  // .block-header__title

  &__title {
    font-family: "Cormorant Garamond";

    @include adaptiveValue("font-size", 64, 40);
    line-height: 125%;
    /* 80/64 */
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
  }

  // .block-header__text

  &__text {

    @include adaptiveValue("font-size", 16, 12);
    line-height: 150%;

    /* 24/16 */
    p {
      &:not(:last-child) {
        margin-bottom: toRem(15);
      }
    }
  }
}

.up {
  position: fixed;
  transform: rotate(-180deg);
  @include adaptiveValue("font-size", 26, 22);
  color: $goldColor;
  bottom: toRem(30);
  right: toRem(25);
  padding: toRem(15);
  border-radius: 50%;
  background-color: rgba(43, 43, 43, 0.2);
  z-index: 6;
  transition: all .5s ease;

  &:before {
    position: relative;
    top: toRem(4);
  }

  ._watcher-view & {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
  }

  @media (max-width:$mobile) {
    bottom: toRem(10);
    right: toRem(10);
  }

  &:active {
    background-color: $goldColor;
    color: $bgMainColor;
  }
}