.hero {
  background-color: $bgDark;
}


.hero__container {
  max-height: toRem(516);
  @include adaptiveValue("padding-top", 105, 66);
  display: grid;
  grid-template-columns: 15% 14% 38% 3% 26%;
  grid-template-rows: 49.5% 49.5%;
  column-gap: 1%;
  row-gap: 1%;
  overflow: hidden;

  @media (max-width:$mobile) {
    grid-template-columns: 30% 38% 30%;
    grid-template-rows: 5% 70% 25%;
    column-gap: 1%;
  }

}

.hero__body {
  position: relative;
  grid-column: 3;
  grid-row: 1;
  align-self: flex-end;
  padding: toRem(5);
  margin-bottom: -30px;

  &:not(:last-child) {
    margin-bottom: toRem(10);
  }

  @media (max-width:$mobile) {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
    align-self: center;
  }
}

.hero__title {
  font-family: "Cormorant Garamond";
  @include adaptiveValue("font-size", 80, 32);
  line-height: 120%;
  /* 96/80 */
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  margin-bottom: toRem(6);
}

.hero__text {
  @include adaptiveValue("font-size", 20, 10);
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;

  &:not(:last-child) {
    margin-bottom: toRem(10);
  }
}

.hero-bg__image {
  //width: 100%;
  //max-width: fit-content;
  // max-height: fit-content;  
}

.bg__image1 {
  grid-column: 1;
  grid-row: 2;
  max-height: toRem(204);
  aspect-ratio: 187 / 190;
  transform: translate(0, -3%);

  @media (max-width:$mobile) {
    display: none;
  }
}

.bg__image2 {
  grid-column: 2;
  grid-row: 1;
  max-height: toRem(204);
  aspect-ratio: 173 / 190;
  transform: translate(-9%, 1%);

  @media (max-width:$mobile) {
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
    rotate: 26deg;
    height: 100%;
    max-height: toRem(304);
  }
}

.bg__image3 {
  width: 100%;
  grid-column: 3;
  grid-row: 2;
  justify-self: center;
  align-self: end;
  max-height: toRem(168);
  aspect-ratio: 90 / 168;
  translate: 0 32%;
  @include adaptiveValue("padding-left", 205, 40);
  @include adaptiveValue("padding-right", 205, 40);

  @media (max-width:$mobile) {
    grid-column: 3;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    padding: 0;
    translate: 0 0;
    rotate: -15deg;
    max-height: toRem(250);
    height: 100%;
  }
}

.bg__image4 {
  grid-column: 5;
  grid-row: 1 / span 2;
  justify-self: end;
  align-self: center;
  max-height: toRem(282);
  aspect-ratio: 343 / 282;
  transform: translate(0, 14%);

  @media (max-width:$mobile) {
    display: none;
  }

}