.hero {
  background-color: $bgDarkLight;

}

.hero__container {
  max-height: toRem(516);
  @include adaptiveValue("padding-top", 105, 86);
  //padding-top: toRem(125);
  //position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: toRem(5);
  overflow: hidden;

}

.hero__body {
  grid-column: 3;
  grid-row: 2;

  &:not(:last-child) {
    margin-bottom: toRem(10);
  }

}

.hero__title {
  font-family: "Cormorant Garamond";
  @include adaptiveValue("font-size", 80, 48);
  line-height: 120%;
  /* 96/80 */
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  margin-bottom: toRem(6);

}

.hero__text {
  @include adaptiveValue("font-size", 20, 16);
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;

  &:not(:last-child) {
    margin-bottom: toRem(10);
  }
}

.hero-bg__image {
  max-width: fit-content;
  max-height: fit-content;

  // position: absolute;
}

.bg__image1 {
  grid-column: 2;
  grid-row: 1 / span 2;
  transform: rotate(-30deg) translate(40%, -7%);
  // justify-self: center;
  // align-self: flex-start;
  aspect-ratio: 108 / 228;

  img {
    //aspect-ratio: 108 / 228;
  }

  // left: 18%;
  // top: 13%;
  // transform: rotate(-30deg);

  // &-aspect {
  //   aspect-ratio: 108 / 228;
  // }
}

.bg__image2 {
  grid-column: 1;
  grid-row: 2 / span 2;
  align-self: flex-end;
  //transform: rotate(30deg) translateY(-20%);
  aspect-ratio: 180 / 188;


  img {
    //aspect-ratio: 160 / 204;
  }

  // left: 5%;
  // bottom: 6%;
  // aspect-ratio: 187 / 178;
  // transform: rotate(30deg);
}

.bg__image3 {
  grid-column: 3;
  grid-row: 3;
  justify-self: center;
  transform: rotate(18deg) translateY(40%);
  aspect-ratio: 70 / 163;

  img {
    //aspect-ratio: 70 / 163;
  }

  // left: 47%;
  // bottom: -9%;
  // aspect-ratio: 69 / 162;
  // transform: rotate(15deg);
}

.bg__image4 {
  grid-column: 5;
  grid-row: 2 / span 2;
  justify-self: flex-end;
  transform: rotate(-60deg) translate(-5%, -15%);
  aspect-ratio: 236 / 281;

  img {
    //aspect-ratio: 236 / 281;
  }

  // right: 6%;
  // bottom: 7%;
  // aspect-ratio: 235 / 280;
  // transform: rotate(-60deg);
}