.month-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 21, 21, 0.801);
  top: 0;
  left: 0;
  z-index: 100;
  padding: toRem(10);
  opacity: 0;
  visibility: hidden;

  &.showMonthPopup {
    opacity: 1;
    visibility: visible;
  }

  // .month-popup__body

  &__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    //align-items: center;
    background-color: $bgMainColor;
  }

  // .month-popup__content

  &__content {}

  // .month-popup__content

  .month-content {
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: relative;
    list-style-type: none;
    padding: toRem(10);
    border: toRem(2) solid $goldColor;
    border-radius: toRem(12);

    // .month-content__close

    &__close {
      position: absolute;
      top: toRem(10);
      right: toRem(10);
      width: toRem(20);
      height: toRem(20);

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: toRem(4);
        height: 100%;
        background-color: $goldColor;
        top: 0;
        left: 50%;
        //transform: translate(-50%, -50%);
      }

      &::before {
        transform: translate(-50%, 0px) rotate(45deg);
      }

      &::after {
        transform: translate(-50%, 0px) rotate(-45deg);
      }
    }

    // .month-content__list

    &__list {}
  }


  // .month-list
  .month-list {
    width: fit-content;
    font-family: "SFProText";
    //font-weight: 600;
    margin: 0 auto;

    // .month-list__item
    &__item {
      font-size: toRem(20);
      text-align: center;

      &:not(:last-child) {
        margin-bottom: toRem(20);
      }
    }
  }

}