.packages {

  // .packages__container

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include adaptiveValue("padding-top", 120, 40);
  }

  // .packages__block-header

  &__block-header {

    @include adaptiveValue("padding-bottom", 80, 16);
  }

  // .packages__list

  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include adaptiveValue("column-gap", 24, 16);
    @include adaptiveValue("row-gap", 28, 22);

  }

  // .packages__item

  &__item {
    padding: toRem(0) toRem(10);
  }
}

.item-packages {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  max-width: toRem(424);
  background-color: $bgDarkLight;
  border-radius: toRem(10);
  border: toRem(1) solid $goldColor;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.8);
  transition: opacity .2s ease-in;
  cursor: default;

  &._muted {

    opacity: .6;
    transition: opacity .2s ease-in;
  }

  // .item-packages__body

  &__body {
    max-width: toRem(290);
    display: flex;
    flex-direction: column;
    align-items: center;

    @include adaptiveValue("padding-top", 48, 12);
    @include adaptiveValue("padding-bottom", 48, 22);
  }

  // .item-packages__title

  &__title {
    //font-size: toRem(32);
    @include adaptiveValue("font-size", 32, 24);
    line-height: 150%;
    /* 48/32 */
    font-weight: 500;
    color: $cardTitle;
    text-align: center;
    text-transform: capitalize;

    @include adaptiveValue("margin-bottom", 12, 8);
  }

  // .item-packages__price

  &__price {}

  // .item-packages__list

  &__list {}

  // .item-packages__button

  &__button {
    display: inline-block;
    color: $cardTitle;
    background-color: transparent;
    border: toRem(1) solid $goldColor;
    color: $cardTitle;
    @include adaptiveValue("font-size", 16, 14);

    position: relative;
    z-index: 2;
    transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
    overflow: hidden;
    cursor: pointer;
    user-select: none;


    &::after {
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 0;
      width: 0;
      position: absolute;
      transition: inherit;
      z-index: -1;
      background: $goldColor;
      border: none;
      border-radius: 50%;
      transition: all .4s;
    }

    @media (any-hover: hover) {
      &:hover {
        color: $bgDark;
        background-color: $goldColor;
      }
    }

    @media (max-width:$mobile) {
      display: block;
      width: 100%;
    }

    &:active {
      background-color: transparent;
      color: $cardTitle;
    }

  }
}

.item-packages__button:active::after {
  height: 600%;
  width: 300%;
  background-color: $bgDarkLight;
  //transition: all 1.5s;
}

.packages-price {

  @include adaptiveValue("margin-bottom", 32, 10);
  text-align: center;

  &__currency {

    @include adaptiveValue("font-size", 32, 24);
    color: $cardTitle;
  }

  &__value {
    font-size: toRem(40);
    @include adaptiveValue("font-size", 40, 30);
    color: #fff;
    font-weight: 600;
    line-height: 150%;
    /* 60/40 */
  }
}

.packages-sublist {
  flex: 1 1 auto;

  @include adaptiveValue("margin-bottom", 56, 20);

  // .packages-sublist__item

  &__item {
    position: relative;
    line-height: 150%;
    /* 24/16 */
    color: rgba(255, 255, 255, 0.7);

    @include adaptiveValue("padding-left", 30, 22);
    @include adaptiveValue("font-size", 16, 12);


    &::before {
      position: absolute;
      top: toRem(2);
      left: 0;

      @include adaptiveValue("height", 21, 14);
      @include adaptiveValue("width", 21, 14);
      @include adaptiveValue("font-size", 11, 9);

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $goldColor;
      color: $bgDarkLight;

    }

    &:not(:last-child) {

      @include adaptiveValue("margin-bottom", 16, 8);
    }
  }
}